body {
    font-family:Rajdhani;
    background-color: #39fac4;
    color: #5c8fe0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Press Start 2P" ;
    font-size: 40pt;
}

header{ 
    text-align: center;
}

#hero, footer {
    color: #ff883d;
    border: 4px solid #5c8fe0;
    background-color: #9b46f5;
    text-align: center;
    padding: 10px;
}

#hero img {
    width:200px;
}

#bio {
    font-weight: bolder;
    color: #9b46f5;
    text-align: center;

}